<div class="container-fluid" (mousemove)="MouseMove($event)">
    <h2>Shoe Display</h2>
    <img [src]="image" height="200px" width="200px" alt="">
    <div class="m-2">
        <div class="btn-group">
            <button class="text-black" (mouseover)="SetColor('black')">Black Shoe</button>
            <button class="text-black" (mouseover)="SetColor('red')">Red Shoes</button>
            <button class="text-black" (mouseover)="SetColor('green')">White Shoes</button>
        </div>
    </div>
    <div style="height: 1000px;"></div>
    <img src="https://images.unsplash.com/photo-1459173422306-0ce3fb37f832?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" height="75px" width="75px" alt="">
</div>