<div class="container-fluid">
  <h2>Bootstrap Input</h2>
  <div class="w-25">
    <label class="form-label">UserName</label>
    <div>
      <input type="text" class="form-control">
    </div>
  </div>

  <br>

  <h2>Material Input</h2>
  <mat-form-field appearance="fill">
    <mat-label>UserName</mat-label>
    <input type="text" ngModel #Username="ngModel" matInput>
  </mat-form-field>
  <h2>{{ Username.value }}</h2>

  <div>
    <h2>Angular Material DatePicker</h2>
    <hr>
    <mat-form-field appearance="outline">
      <mat-label>Departure Date</mat-label>
      <mat-datepicker-toggle matSuffix [for]="departure"></mat-datepicker-toggle>
      <input matInput [matDatepicker]="departure">
      <mat-datepicker #departure></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="container-fluid">
    <h2>Without Lazy Loading</h2>
    <div style="height: 300px;border: 1px solid black;padding: 5px;width: 250px;" class="overflow-auto">
      <div *ngFor="let item of products">
        <img [src]="item.image" width="150px" height="150px" alt=""/>

      </div>
    </div>

    <h2>With Lazy Loading</h2>
    <cdk-virtual-scroll-viewport itemSize="100" class="overflow" style="height: 300px;border: 1px solid black;padding: 5px;width: 250px;" >
      <div *cdkVirtualFor="let item of products">
        <img [src]="item.image" width="150" height="150" alt=""/>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
