<div>
    <h2>Product Details</h2>
    <dl>
        <dt>Name</dt>
        <dd>{{product.Name}}</dd>
        <dt>Price</dt>
        <dd>{{product.Price}}</dd>

        <dt class="form-switch">
            <input type="checkbox" name="preview" [(ngModel)]="preview" />
            {{preview == true ? "Hide" : "Show"}}
        </dt>
        <dd *ngIf="preview">
           <img [src]="product.Image" width="200" height="200" alt="" /> 
        </dd>

        <!-- <dt>Image</dt>
        <img [src]="product.Image" width="200" height="200" alt="" /> -->
    </dl>
</div>